mixin promo(modifier)
  section.promo&attributes(attributes)
    .promo__content 
      .promo__info 
        h1.promo__title Системы видеонаблюдения по отличной цене в Ноябрьске
        button(type="button").promo__btn Подключить