@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

/* Plugins */



/* Blocks */

body, ul, ol {
  margin: 0;
  padding: 0;

}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::before, *::after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
  font-weight: normal;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  display: block;
}

ul, ol, li {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

:root {
  --text-icon-90: #1F1F1F;
  --red: #EE2523;
}


@import './src/blocks/header/header';


@import './src/blocks/promo/promo';
@import './src/blocks/services/services';