.services {
    position: relative;
    &__content {
        width: 100%;
        max-width: 1460px;
        margin: 0 auto;
        padding: 0 10px;
        position: relative;
    }

    &__title {
        display: inline-block;
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 30px;
        font-weight: 600;
        line-height: 150%;
        margin: 64px 0 40px;
    }

    &__pay {
        position: absolute;
        top: 55px;
        right: 0;
    }
   
    &__wallet,
    &__wallet-small {
        width: 225px;
        height: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 21px;
        padding: 0px 22px 0px 22px;
        border-radius: 8px 0px 0px 8px;
        background: rgb(238, 37, 35);
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
        position: fixed;
        right: 0;
        
    }

    &__wallet-small {
        width: 145px;
        height: 54px;
        color: rgba(255, 255, 255, 0.9);
        display: none;
    }

    &__card-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        flex-wrap: wrap;
        margin-bottom: 64px;
    }

    &__card {
        padding: 39px 29px;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
        background: rgb(255, 255, 255);
    }

    &__img {
        margin-bottom: 24px;
        width: 380px;
    }

    &__card-title {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 12px;
    }

    &__text {
        width: 100%;
        max-width: 380px;
        min-height: 55px;
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 28px;
    }

    &__card-price {
       display: flex;
       justify-content: space-between;
       align-items: center;
    }

    &__price-line {
        display: flex;
        align-items: center;
    }

    &__price,
    &__pretext {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 48px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    &__pretext {
        font-size: 25px;
        align-self: flex-end;
        margin-right: 5px;
    }

    &__sum {
        margin: 0 auto 0 5px;
    }

    span {
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 16px;
        line-height: 130.5%;
        display: block;
    }

    span:first-child {
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    span:last-child {
        border: none;
    }

    &__btn {
        width: 190px;
        height: 48px;
        padding: 0px 20px 0px 20px;
        border-radius: 8px;
        background: rgb(238, 37, 35);
        color: rgba(255, 255, 255, 0.9);
        font-family: Inter;
        font-size: 16px;
        line-height: 140%;
    }

    @media screen and (max-width: 1330px) {
        &__card-box {
            gap: 20px;
        }
    }

    @media screen and (max-width: 770px) {
        &__title {
            font-size: 32px;
            margin: 69px 0 32px 40px;
            font-weight: 700;
        }

        &__pay {
            top: 10px;
        }

        &__card-box {
            justify-content: start;
            margin-left: 40px;
        }

        &__img {
            margin-bottom: 30px;
            width: 274px;
        }

        &__card-title {
            margin-bottom: 10px;
        }

        &__text {
            max-width: 274px;
            min-height: 75px;
            margin-bottom: 19px;
        }

        &__card-price {
            flex-direction: column;
            align-items: start;
        }

        &__price-line {
            margin-bottom: 12px;
        }

        &__btn {
            width: 100%;
            font-size: 18px;
        }

       
    }

    @media screen and (max-width: 560px) {
        &__card-box {
            gap: 30px;
        }

        &__wallet {
            display: none;
        }

        &__wallet-small {
            display: flex;
            gap: 0 9px;
        }

    }

   

        

       
    
  
}
